In [2]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [11]:
import pandas as pd
from census import Census

In [38]:
# importing spreadsheet with monthly ridership data (https://www.transit.dot.gov/ntd/data-product/monthly-module-adjusted-data-release)
# description of data (https://www.transit.dot.gov/sites/fta.dot.gov/files/2024-08/2024-NTD-Monthly-Ridership-Weekly%20Reference-Manual.pdf)
ntd_monthly = pd.read_excel('ridership_data.xlsx', sheet_name='UPT')
ntd_monthly.head(5)
#drop NTD ID, legacy NTD ID, inactive service statuses,

,NTD ID,Legacy NTD ID,Agency,Mode/Type of Service Status,Reporter Type,UACE CD,UZA Name,Mode,TOS,3 Mode,...,5/2024,6/2024,7/2024,8/2024,9/2024,10/2024,11/2024,12/2024,1/2025,2/2025
0,1.0,0001,King County,Active,Full Reporter,80389.0,"Seattle--Tacoma, WA",DR,PT,Bus,...,90826.0,82332.0,86007.0,90416.0,86251.0,94960.0,80691.0,87395.0,96298.0,83450.0
1,1.0,0001,King County,Active,Full Reporter,80389.0,"Seattle--Tacoma, WA",DR,TX,Bus,...,9951.0,8324.0,8535.0,9690.0,10668.0,11728.0,8482.0,7868.0,6315.0,6764.0
2,1.0,0001,King County,Active,Full Reporter,80389.0,"Seattle--Tacoma, WA",FB,DO,Ferry,...,38338.0,46948.0,67951.0,62910.0,46702.0,37503.0,25759.0,24240.0,26935.0,22362.0
3,1.0,0001,King County,Inactive,Full Reporter,80389.0,"Seattle--Tacoma, WA",LR,DO,Rail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,0001,King County,Active,Full Reporter,80389.0,"Seattle--Tacoma, WA",MB,DO,Bus,...,6401486.0,5933767.0,6137519.0,6019974.0,6139353.0,6820828.0,5983373.0,5655460.0,6158381.0,5748640.0

In [35]:
ntd_annual = pd.read_excel('ridership_data.xlsx', sheet_name='Master')
ntd_annual.head(5)

,NTD ID,Legacy NTD ID,Agency,Mode,TOS,3 Mode,Mode/Type of Service Status,Reporter Type,Organization Type,HQ City,...,Last Closed Report Year,Last Closed FY End Month,Last Closed FY End Year,Passenger Miles FY,Unlinked Passenger Trips FY,Avg Trip Length FY,Fares FY,Operating Expenses FY,Avg Cost Per Trip FY,Avg Fares Per Trip FY
0,1,0001,King County,DR,PT,Bus,Active,Full Reporter,"City, County or Local Government Unit or Depar...",SEATTLE,...,2023.0,12.0,2023.0,6470644.0,888663.0,7.281325,816892.0,72095003.0,81.127495,0.919237
1,1,0001,King County,DR,TX,Bus,Active,Full Reporter,"City, County or Local Government Unit or Depar...",SEATTLE,...,2023.0,12.0,2023.0,1509526.0,121496.0,12.424491,105605.0,5658724.0,46.575393,0.869206
2,1,0001,King County,FB,DO,Ferry,Active,Full Reporter,"City, County or Local Government Unit or Depar...",SEATTLE,...,2023.0,12.0,2023.0,1479694.0,399687.0,3.702132,1493280.0,8625721.0,21.581190,3.736124
3,1,0001,King County,LR,DO,Rail,Inactive,Full Reporter,"City, County or Local Government Unit or Depar...",SEATTLE,...,2011.0,12.0,2011.0,471587.0,520933.0,0.905274,288470.0,2281393.0,4.379437,0.553756
4,1,0001,King County,MB,DO,Bus,Active,Full Reporter,"City, County or Local Government Unit or Depar...",SEATTLE,...,2023.0,12.0,2023.0,244710079.0,63485248.0,3.854598,60386305.0,710359423.0,11.189362,0.951186

In [34]:
nyc_daily = pd.read_csv('mta_daily_2020-2025.csv')
nyc_daily.head(5)

,Date,Subways: Total Estimated Ridership,Subways: % of Comparable Pre-Pandemic Day,Buses: Total Estimated Ridership,Buses: % of Comparable Pre-Pandemic Day,LIRR: Total Estimated Ridership,LIRR: % of Comparable Pre-Pandemic Day,Metro-North: Total Estimated Ridership,Metro-North: % of Comparable Pre-Pandemic Day,Access-A-Ride: Total Scheduled Trips,Access-A-Ride: % of Comparable Pre-Pandemic Day,Bridges and Tunnels: Total Traffic,Bridges and Tunnels: % of Comparable Pre-Pandemic Day,Staten Island Railway: Total Estimated Ridership,Staten Island Railway: % of Comparable Pre-Pandemic Day
0,03/01/2020,2212965,0.97,984908,0.99,86790,1.00,55825,0.59,19922,1.13,786960,0.98,1636,0.52
1,03/02/2020,5329915,0.96,2209066,0.99,321569,1.03,180701,0.66,30338,1.02,874619,0.95,17140,1.07
2,03/03/2020,5481103,0.98,2228608,0.99,319727,1.02,190648,0.69,32767,1.10,882175,0.96,17453,1.09
3,03/04/2020,5498809,0.99,2177165,0.97,311662,0.99,192689,0.70,34297,1.15,905558,0.98,17136,1.07
4,03/05/2020,5496453,0.99,2244515,1.00,307597,0.98,194386,0.70,33209,1.12,929298,1.01,17203,1.08

In [33]:
dc_daily = pd.read_csv('dc_daily_2019-2025.csv', encoding="utf-16", delimiter= '\t')
dc_daily.head(10)

,Date,Day of Week,Weekday / Saturday / Sunday,Holiday,Bus,Rail,Grand Total
0,"April 23, 2025",Wed,Weekday,No,"430,025","582,598","1,012,623"
1,"April 22, 2025",Tue,Weekday,No,"431,993","564,737","996,730"
2,"April 21, 2025",Mon,Weekday,No,"377,701","466,770","844,471"
3,"April 20, 2025",Sun,Sunday,No,"214,098","202,209","416,307"
4,"April 19, 2025",Sat,Saturday,No,"266,270","307,791","574,061"
5,"April 18, 2025",Fri,Weekday,No,"354,703","452,330","807,033"
6,"April 17, 2025",Thu,Weekday,No,"369,433","514,816","884,249"
7,"April 16, 2025",Wed,Weekday,No,"358,271","503,234","861,505"
8,"April 15, 2025",Tue,Weekday,No,"365,293","515,383","880,676"
9,"April 14, 2025",Mon,Weekday,No,"359,396","460,021","819,417"

In [32]:
chicago_daily = pd.read_csv('chicago_ridership_2001-2025.csv')
chicago_daily.head(5)

  service_date day_type      bus  rail_boardings  total_rides
0   02/01/2010        W  1091041          648428      1739469
1   07/15/2006        A   603018          412144      1015162
2   08/26/2017        A   487453          446049       933502
3   12/25/2007        U   249699          111582       361281
4   07/08/2005        W   950222          591325      1541547